@media only screen and (min-width: 835px) {
    .header-main {
        @apply max-w-screen-xl px-[50px] py-[25px] box-border sticky top-0 w-full m-auto;
    }

    .header-main-nav {
        @apply h-[50px];
    }

    .header-icon-list {
        @apply hidden;
    }

    .logo {
        @apply w-[50px];
    }

    .brand {
        @apply text-[36px] leading-[50.4px];
    }

    .landing-main {
        @apply px-[115px];
    }

    .landing-main-intro {
        font-size: 67px;
        line-height: 73.7px;
    }

    .landing-main-group {
        @apply flex gap-[30px] py-[80px];
    }

    .landing-main-intro-block {
        @apply w-1/2;
    }

    .landing-main-intro-content {
        font-size: 22px;
        line-height: 35.2px;
        margin-bottom: 30px;
        margin-top: 20px;
        color: #fff;
        font-weight: 400;
    }

    .how-it-work-group {
        @apply py-[80px] inline-block;
    }

    .how-it-work-intro {
        @apply mb-[60px];
    }

    .header-content {
        font-size: 38px;
        line-height: 45.6px;
        margin-bottom: 10px;
    }

    .landing-content {
        font-size: 22px;
        line-height: 35.2px;
        font-weight: 400;
    }

    .how-it-work-grid {
        @apply grid-cols-3 gap-[30px];
    }

    .card-get-started {
        @apply px-10 pt-[10px] pb-[30px];
    }

    .card-get-started-image {
        @apply mb-[20px];
    }

    .card-get-started-group {
        @apply mx-[-10px];
    }

    .card-get-started-title {
        font-size: 22px;
        line-height: 30.8px;

        @apply text-center;
    }

    .card-get-started-content {
        @apply text-center font-normal mt-[10px];
    }

    .footer {
        @apply px-[115px] py-10;
    }

    .about-us {
        @apply w-3/12;
    }

    .footer-explore-group {
        @apply w-3/12;
    }

    .footer-joinus-group {
        @apply w-5/12;
    }

    .footer-intro {
        @apply mt-[30px];
    }

    .join-us-mobile {
        @apply hidden;
    }

    .connect-wallet-body {
        @apply flex gap-[60px];
    }

    .connect-wallet-image {
        @apply w-1/2 h-auto;
    }

    .connect-wallet-content {
        @apply w-1/2 py-[100px];
    }

    .connect-wallet-intro {
        @apply text-[16px] leading-[22.4px] font-normal mt-5 mb-10 max-w-[460px];
    }

    .connect-wallet-btn {
        @apply mb-5 w-[320px] px-10 py-4 gap-5 text-[22px] leading-[30.8px];
    }

    .connect-wallet-title {
        font-size: 51px;
        line-height: 51.6px;
        font-weight: 600;
    }

    .connect-wallet-intro {
        font-size: 22px;
        line-height: 35.2px;
        font-weight: 400;
        color: #fff !important;
    }

    .tabpane {
        color: #fff !important;
    }

    .collection-tab {
        color: #fff !important;
    }

    .ant-tabs-nav {
        margin-bottom: 0 !important;
    }

    .ant-tabs-nav-wrap {
        background-color: #2b2b2b !important;
    }

    .ant-tabs-nav-list {
        flex: 1;
        padding: 0 115px;
    }

    .ant-tabs-tab {
        flex: 1;
        justify-content: center;
        color: #858584 !important;
    }

    .ant-tabs-tab + .ant-tabs-tab {
        margin: 0 !important;
    }

    .ant-tabs-ink-bar {
        background-color: #858584 !important;
        padding: 0 115px !important;
    }

    .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
        color: #fff !important;
    }

    .marketplace-tabs {
        @apply px-[115px];
    }

    .browse-marketplace {
        @apply px-[115px] py-[40px];
    }

    .browse-marketplace-title {
        font-family: 'Work Sans';
        font-size: 51px;
        font-weight: 600;
        line-height: 56px;
        letter-spacing: 0;
        text-align: left;
    }

    .browse-market-place-content {
        font-family: 'Work Sans';
        font-size: 22px;
        font-weight: 400;
        line-height: 35px;
        letter-spacing: 0;
        text-align: left;
        margin-top: 10px;
        margin-bottom: 30px;
    }

    .browse-marketplace-search-bar {
        @apply relative;
    }

    .browse-marketplace-search-bar-input {
        width: 100%;
        background-color: transparent;
        height: 60px;
        border: 1px solid #3b3b3b;
        border-radius: 20px;
        box-sizing: border-box;
        padding: 0 12px;
    }

    .browse-marketplace-search-bar-icon {
        width: 24px;
        @apply absolute right-[12px] top-[18.5px] hover:cursor-pointer;
    }

    .ant-tabs {
        padding: 0 115px;
    }

    .tabpane-count {
        font-family: 'Space Mono';
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0;
        text-align: left;
        background-color: #3b3b3b;
        border-radius: 20px;
        padding: 5px 10px;
    }

    .ant-tabs-tab-active .tabpane-count {
        background-color: #858584;
    }

    .tabpane-title {
        @apply flex gap-4;

        font-family: 'Work Sans';
        font-size: 22px;
        font-weight: 600;
        line-height: 31px;
        letter-spacing: 0;
        text-align: center;

        @apply flex items-center;
    }

    .tabpane-content {
        @apply px-[115px] py-[60px] grid grid-cols-3 gap-[30px];

        background-color: #3b3b3b;
    }

    .card-nft {
        @apply bg-black rounded-[20px] justify-items-stretch;
    }

    .card-nft-info {
        @apply mx-[30px] mt-5 mb-[23px];
    }

    .card-nft-name {
        font-family: 'Work Sans';
        font-size: 22px;
        font-weight: 700;
        line-height: 31px;
        letter-spacing: 0;
        text-align: left;
        @apply truncate text-ellipsis overflow-hidden w-[240px];
    }

    .ant-pagination {
        padding: 0 115px !important;
    }
    .update-profile-body {
        gap: 60px;
    }
    .update-profile-title {
        font-family: 'Work Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 38px;
        line-height: 120%;
    }
    .update-profile-content {
        font-family: 'Work Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 160%;
    }
    .update-profile-content-group {
        @apply py-[100px] pr-[150px];
    }
    .update-profile-form {
        @apply mt-10 mb-[30px];
    }
    .user-info-background-group {
        height: 370px;
        position: relative;
    }
    .user-info-background-image {
        height: 320px;
    }
    .user-info-avatar {
        position: absolute;
        bottom: 0;
        left: 115px;
    }
    .user-info-main-username {
        font-family: Work Sans;
        font-size: 51px;
        font-weight: 400;
        line-height: 56px;
        letter-spacing: 0em;
        text-align: left;
        margin: 10px 10px 40px 10px;
    }
    .user-info-main-group {
        margin: 40px 115px;
        position: relative;
    }
    .user-info-btn-group {
        position: absolute;
        top: 0;
        right: 0;
    }
    .user-info-social-item-quantity {
        font-family: Space Mono;
        font-size: 28px;
        font-weight: 700;
        line-height: 39px;
        letter-spacing: 0em;
        text-align: left;
    }
    .user-info-social-item-desc {
        font-family: Work Sans;
        font-size: 22px;
        font-weight: 400;
        line-height: 35px;
        letter-spacing: 0em;
        text-align: left;
    }
    .user-info-social-item {
        min-width: 160px;
    }
    .nft-detail-more-grid {
        @apply mb-20;
    }
    .nft-detail-slide-image {
        margin-bottom: 195px;
    }
    .mint-token-page {
        margin: 50px 60px 90px 60px;
        display: flex;
        gap: 30px;
    }
    .mint-token-grid {
        width: 50%;
    }
    .mint-token-title {
        //styleName: H2 - Work Sans;
        font-family: Work Sans;
        font-size: 51px;
        font-weight: 600;
        line-height: 56px;
        letter-spacing: 0em;
        text-align: left;
        margin-bottom: 20px;
    }
    .mint-token-grid-1_content {
        font-family: Work Sans;
        font-size: 22px;
        font-weight: 400;
        line-height: 35px;
        letter-spacing: 0em;
        text-align: left;
        font-family: Work Sans;
        font-size: 22px;
        font-weight: 400;
        line-height: 35px;
        letter-spacing: 0em;
        text-align: left;
        margin-bottom: 120px;
    }
    .mint-token-grid-1_image-child-group {
        display: grid;
        @apply grid-cols-4 gap-[15px];
    }
    .mint-token-grid-1_image-main {
        border-radius: 20px;
        margin-bottom: 20px;
    }
    .mint-token-grid-1_image-child {
        border-radius: 20px;
    }
    .mint-token-grid-1_image-child-2 {
        background-color: #a259ff;
        border-radius: 20px;
        font-family: Space Mono;
        font-size: 22px;
        font-weight: 700;
        line-height: 35px;
        letter-spacing: 0em;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .mint-token-grid-1_image-child-3 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 32px 15px;
        gap: 10px;
        width: 130px;
        height: 100px;
        background: #ffffff;
        border-radius: 20px;
    }
    .mint-token-user-token-group {
        display: flex;
        align-items: center;
        padding: 16.5px 20px;
        gap: 13px;
        background-color: #858584;
        border-radius: 20px;
    }
    .mint-token-input {
        @apply w-full;
        font-family: Work Sans;
        font-size: 22px;
        font-weight: 400;
        line-height: 31px;
        letter-spacing: 0em;
        text-align: left;
        padding: 16px 20px 16px 64px;
        height: 64px;
    }
    .update-profile-form-item-textarea {
        @apply w-full min-h-[300px];
    }
    .mint-token-user-token-group {
        margin-bottom: 15px;
    }
    .mint-token-input-username {
        margin-bottom: 15px;
    }
    .mint-token-textarea {
        margin-bottom: 40px;
    }
    .mint-token-user-token {
        font-family: Work Sans;
        font-size: 22px;
        font-weight: 400;
        line-height: 31px;
        letter-spacing: 0em;
        text-align: left;
    }
    .update-profile-form-item-textarea {
        font-family: Work Sans;
        font-size: 22px;
        font-weight: 400;
        line-height: 31px;
        letter-spacing: 0em;
        text-align: left;
        padding: 16px 20px 36px 64px;
    }
    .mint-token-submit-btn {
        width: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        margin-bottom: 100px;
        font-family: 'Work Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 22px;
        line-height: 140%;
    }
    .mint-token-grid-1_image-group-2 {
        display: none;
    }
    .trigger-navbar-2 {
        display: none;
    }
    .lucky-wheel-body {
        display: flex;
        gap: 30px;
        padding: 50px 60px;
    }
    .lucky-wheel-grid {
        flex: 1;
    }
    .lucky-wheel-title {
        font-family: 'Work Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 51px;
        line-height: 110%;
        display: flex;
        align-items: center;
        text-transform: capitalize;
        color: #ffffff;
        margin-bottom: 20px;
    }
    .lucky-wheel-content {
        font-family: 'Work Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 160%;
        color: #ffffff;
    }
    .lucky-wheel-preview {
        font-family: 'Space Mono';
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 160%;
        color: #ffffff;
        margin: 40px auto 40px auto;
        text-align: center;
    }
    .lucky-wheel-token-info {
        margin-top: 30px;
        background: #3b3b3b;
        border-radius: 50px;
        padding: 30px;
    }
    .lucky-wheel-token-name {
        font-family: 'Work Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 51px;
        line-height: 110%;
        display: flex;
        align-items: center;
        text-transform: capitalize;
        color: #ffffff;
    }
    .lucky-wheel-token-name-group {
        display: flex;
        gap: 15px;
    }
    .lucky-wheel-token-listing-price-label {
        font-family: 'Space Mono';
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 160%;
        text-transform: capitalize;
        color: #858584;
    }
    .lucky-wheel-token-price {
        font-family: 'Space Mono';
        font-style: normal;
        font-weight: 700;
        font-size: 38px;
        line-height: 120%;
        text-transform: capitalize;
        color: #ffffff;
    }
    .lucky-wheel-token-price-unit {
        font-family: 'Space Mono';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 110%;
        margin-top: 5px;
        color: #ffffff;
    }
    .lucky-wheel-prize-winning-rate {
        text-align: center;
        font-family: 'Space Mono';
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 160%;
        color: #ffffff;
        margin-top: 40px;
        margin-bottom: 30px;
    }
    .lucky-wheel-prize-winning-rate-ele {
        display: flex;
        gap: 10px;
        align-items: center;
    }
    .prize-type {
        flex: 6;
        flex-direction: row;
        align-items: center;
        padding: 16px 20px;
        gap: 12px;
        width: 300px;
        height: 54px;
        background: #ffffff;
        border: 1px solid #858584;
        // color: #2b2b2b;
        border-radius: 20px;
    }
    .prize-rate {
        flex: 2;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 16px 20px;
        gap: 12px;
        width: 100px;
        height: 54px;
        background: #ffffff;
        border: 1px solid #858584;
        // color: #2b2b2b;
        border-radius: 20px;
    }
    .lucky-wheel-prize-winning-rate-ele + .lucky-wheel-prize-winning-rate-ele {
        margin-top: 30px;
    }
    #wheel {
        margin-top: -60px;
        margin-bottom: 40px;
        transform: rotate(180deg);
    }
    .overflow-auto {
        margin-top: 30px;
    }
}
