@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600&display=swap');

body {
    font-family: 'Work Sans', sans-serif !important;
    font-weight: 600;
    @apply text-white min-h-screen;
    background-color: #2b2b2b !important;
    color: #fff !important;
    min-height: 100vh !important;
    user-select: none;
}

h1 {
    font-size: 67px;
    line-height: 73.7px;
}

h2 {
    font-size: 51px;
    line-height: 56.1px;
}

h3 {
    font-size: 38px;
    line-height: 45.6px;
}

h4 {
    font-size: 28px;
    line-height: 39.2px;
}

h5 {
    font-size: 22px;
    line-height: 35.2px;
}

a {
    color: #fff !important;
}

.btn {
    box-shadow: 0 18px 39px #6201ff;
    transition: '.35s';

    &:hover {
        box-shadow: 'none';
    }
}
.text-base {
    font-size: 16px;
    line-height: 22.4px;
}

.text-caption {
    font-size: 12px;
    line-height: 13.2px;
}

.text-space-mono {
    font-family: 'Space Mono', monospace;
}

.header-main {
    @apply bg-black sticky top-0 z-50;
}

.header-main-nav {
    @apply flex justify-between items-center;
}

.header-logo-group {
    color: #fff !important;

    @apply flex items-center gap-3;
}

.logo {
    @apply h-auto;
}

.header-connect-wallet {
    color: #fff !important;
    @apply flex justify-end items-center;
}

.header-icon-list {
    @apply w-6;
}

.how-it-work-grid {
    @apply grid;
}

.footer {
    @apply bg-gray-400;
}

.footer-text {
    @apply text-base text-gray-300 max-w-[238px];
}

.footer-text:hover {
    opacity: 0.7;
}

.brand {
    @apply font-semibold;
}

.card-get-started {
    @apply bg-gray-400 box-border rounded-[20px];
}

.footer-contact {
    @apply flex font-normal justify-between;
}

.brand-group {
    @apply flex items-center gap-3;
}

.email-input {
    @apply relative;
}

.footer-copyright {
    @apply h-9 flex items-end border-t border-gray-200 mt-8 text-xs text-gray-300 font-normal;
}

.connect-wallet-image {
    background-image: url('/images/introduce/connect-wallet.png');
    background-size: cover;
    background-position: center;
}

.card-nft-author-group {
    @apply flex gap-[12px];
}

.card-nft-price {
    font-family: 'Space Mono';
}

.price-label {
    color: #858584;
    font-family: Space Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
}

.card-nft-price {
    font-family: 'Space Mono';
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0;
    text-align: left;
}

.card-nft-price-group {
    margin-top: 27px;
}

.card-nft-info {
    @apply relative flex-1 flex flex-col;
}

.card-nft-btn {
    padding: 12px 21.5px;
    @apply absolute bottom-0 right-0;
}

.card-nft {
    @apply overflow-hidden flex flex-col;
    height: 420px;
}

.collection-image {
    @apply rounded-[20px] block mx-auto h-full;
}

.market-place {
    font-family: 'Work Sans';
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0;
    text-align: center;
    padding: 19px 30px;
}

.market-place:hover {
    color: #858584;
}

.collection-small-image-group {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.collection-small-image {
    flex: 1;
    aspect-ratio: 1/1;
}

.collection-small-image-count {
    background-color: #a259ff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Space Mono';
    font-size: 22px;
    font-weight: 700;
    line-height: 35px;
    letter-spacing: 0;
    text-align: center;
}

.collection-main-image {
    aspect-ratio: 1/1;
}

.ant-tabs-tab:active {
    color: pink;
}

.collection-name {
    font-family: 'Work Sans';
    font-size: 22px;
    font-weight: 600;
    line-height: 31px;
    letter-spacing: 0;
    text-align: left;
}

.collection-author-group {
    @apply flex items-center gap-3 mt-[10px];
}

.collection-author-name {
    font-family: 'Work Sans';
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0;
    text-align: left;
}

.ant-pagination {
    background-color: #3b3b3b;
    text-align: center;
    vertical-align: middle;
}

.ant-pagination-item-link {
    background: none !important;
    color: #fff !important;
    border: none !important;
    display: flex !important;
    align-items: center !important;
}

.ant-pagination-prev .ant-pagination-item-link {
    justify-content: end;
}

.ant-pagination-next .ant-pagination-item-link {
    justify-content: center;
}

.ant-pagination-item {
    background: none !important;
    color: #fff !important;
    border: none !important;
}

.ant-pagination-item-ellipsis {
    background: none !important;
    color: #fff !important;
    border: none !important;
}

.ant-select-selector {
    background: none !important;
    color: #fff !important;
    border: none !important;
}
.anticon-double-right {
    color: #fff !important;
    position: relative;
    top: -3px;
    right: -8px;
}
.anticon-double-left {
    color: #fff !important;
}
.card-nft-author-avatar {
    border-radius: 20px;
    overflow: hidden;
}
.card-nft-author-name {
    font-family: Space Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    @apply truncate text-ellipsis overflow-hidden;
    width: 200px;
}
.card-nft-author-name:hover {
    cursor: pointer;
}
.card-nft-name-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @apply mb-[5px];
}
.browse-marketplace-search-bar {
    position: relative;
}
.browse-marketplace-search-bar-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
.browse-marketplace-filter {
    padding: 10px 20px;
    border: 2px solid #858584;
    border-radius: 20px;
    @apply hover:cursor-pointer;
}
.browse-marketplace-search-bar-input {
    border-color: #858584;
}
.update-profile-body {
    display: flex;
}
.update-profile-image {
    background-image: url('/images/introduce/update-profile.png');
    background-size: cover;
    background-position: center;
    width: 50%;
}
.update-profile-content-group {
    width: 50%;
}
.update-profile-title {
    margin-bottom: 20px;
}
.update-profile-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.update-profile-form-item {
    box-sizing: border-box;
    height: 46px;
    width: 330px;
    border-radius: 20px;
    padding: 16px 20px 16px 52px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #2b2b2b;
}
.update-profile-form-item-spec {
    background-color: #858584;
    box-sizing: border-box;
    height: 46px;
    width: 330px;
    border-radius: 20px;
    padding: 16px 20px 16px 52px;
    display: flex;
    align-items: center;
    position: relative;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #ffffff;
}
.update-profile-form-item-group {
    position: relative;
}
.update-profile-btn {
    height: 46px;
    width: 330px;
    border-radius: 20px;
    padding: 0px 50px 0px 50px;
    background-color: #a259ff;
    box-shadow: 0 18px 39px #6201ff;
    transition: 0.35s;
}
.update-profile-btn:hover {
    box-shadow: none;
}
.user-info-avatar {
    border: 2px solid #2b2b2b;
    border-radius: 20px;
    width: fit-content;
}
.user-info-background-image {
    background-image: url('/images/introduce/user-info.png');
}
.token-btn {
    width: fit-content;
}
.user-info-btn-group {
    display: flex;
    gap: 20px;
}
.token-btn-content {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #ffffff;
}
.user-info-main-username-group {
    display: flex;
    gap: 13px;
}
.user-info-social-group {
    display: flex;
    gap: 20px;
}
.user-info-desc-info {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.user-info-header {
    font-family: Space Mono;
    font-size: 22px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: left;
    color: #858584;
    margin-bottom: 10px;
}
.user-info-bio-content {
    font-family: Work Sans;
    font-size: 22px;
    font-weight: 700;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: left;
}
.user-info-social-logo-group {
    display: flex;
    gap: 10px;
}
.user-info-hline {
    height: 0.8px;
    background-color: #3b3b3b;
    margin-bottom: 10px;
}
.nft-detail-background-image {
    // background-image: url('/images/introduce/nft-detail.png');
    // background-position: center;
    height: 500px;
    overflow: hidden;
    position: relative;
}
.nft-detail-background {
    width: 100%;
    top: 50%;
    margin-top: -500px;
    position: absolute;
}
.nft-detail-main {
    margin: 40px 115px;
    position: relative;
}
.ntf-detail-name-group {
    margin: 10px 10px 20px 10px;
    display: flex;
    gap: 13px;
}
.nft-detail-name {
    font-family: Work Sans;
    font-size: 51px;
    font-weight: 600;
    line-height: 56px;
    letter-spacing: 0em;
    text-align: left;
}
.nft-detail-release-date {
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: #858584;
    margin-bottom: 30px;
}
.nft-detail-collection-title {
    font-family: Space Mono;
    font-size: 22px;
    font-weight: 700;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: left;
    color: #858584;
}
.nft-detail-main-component {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 30px;
}
.nft-detail-collection-name {
    font-family: Work Sans;
    font-size: 22px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: left;
}
.nft-detail-createby-group {
    display: flex;
}
.nft-detail-main-component-1 {
    flex: 1;
    padding: 10px;
}
.nft-detail-price-group {
    position: absolute;
    top: 0;
    right: 0;
    background: #3b3b3b;
    border-radius: 20px;
    padding: 30px;
}
.nft-detail-onsalenow-title {
    font-family: Space Mono;
    font-size: 12px;
    font-weight: 400;
    line-height: 13px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 10px;
}
.nft-detail-price {
    font-family: Space Mono;
    font-size: 38px;
    font-weight: 700;
    line-height: 46px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 5px;
}
.nft-detail-price-unit {
    font-family: Space Mono;
    font-size: 12px;
    font-weight: 400;
    line-height: 13px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 30px;
}
.nft-detail-buynow-btn-group {
    display: flex;
    gap: 12px;
    align-content: center;
    justify-content: center;
    background-color: #a259ff;
    padding: 19px 70px;
    border-radius: 20px;
}
.nft-detail-detail-component {
    display: flex;
    gap: 10px;
    align-items: center;
}
.nft-detail-detail-title {
    font-family: Work Sans;
    font-size: 22px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: left;
}
.nft-detail-collection-title-2 {
    margin-bottom: 20px;
}
.nft-detail-tags-group {
    display: flex;
    gap: 20px;
}
.nft-detail-tags-button {
    background: #3b3b3b;
    border-radius: 20px;
    padding: 12px 30px;
}
.nft-detail-location {
    font-family: Work Sans;
    font-size: 22px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: left;
}
.nft-detail-location-group {
    display: flex;
    align-items: center;
    gap: 13px;
}
.nft-detail-google-maps {
    margin: 30px;
    background: url('/images/introduce/gmaps.png');
    background-position: center;
    background-size: cover;
    height: 534px;
    border-radius: 20px;
}
.nft-detail-image {
    padding: 40px 40px 20px 40px;
}
.slick-dots {
    margin-left: 50px !important;
    text-align: left !important;
}
.slick-dots li.slick-active button:before {
    opacity: 0.75;
    color: white !important;
}
.slick-dots li button:before {
    font-size: 20px !important;
}
.slick-dots li button:before {
    opacity: 0.75;
    color: #858584 !important;
}
.nft-detail-more-title {
    font-family: Work Sans;
    font-size: 38px;
    font-weight: 600;
    line-height: 46px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 70px;
}
.nft-detail-more {
    position: relative;
}
.nft-detail-more-grid {
    display: grid;
    gap: 30px;
    @apply grid-cols-3;
}
.card-nft-dark {
    background-color: #3b3b3b !important;
}

.nft-detail-go-to-marketplace-btn-group {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    box-sizing: border-box;
    border: 2px solid #a259ff;
    border-radius: 20px;
    padding: 19px 50px;
    width: fit-content;
    position: absolute;
    top: 0;
    right: 0;
}
.nft-detail-go-to-marketplace-btn-group:hover {
    background-color: #a259ff;
}
.nft-detail-more-group {
    position: relative;
}
.mint-token-maps {
    background: url('/images/introduce/gmaps.png');
    background-position: center;
    height: 330px;
    border-radius: 20px;
}
.mint-token-grid-1_image-child {
    height: 100%;
    width: auto;
    margin: auto;
}
.mint-token-grid-1_image-child-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px 15px;
    gap: 10px;
    background: #a259ff;
    border-radius: 20px;
    font-family: Space Mono;
    font-size: 22px;
    font-weight: 700;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: center;
}
.mint-token-grid-1_image-child-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px 15px;
    gap: 10px;
    background: #ffffff;
    border-radius: 20px;
}
.mint-token-submit-btn {
    margin: auto;
    padding: 7.5px 60px;
}
.trigger-nav_mint-btn {
    background: #a259ff;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    padding: 5px 31.5px;
    margin-bottom: 10px;
}
.trigger-nav_mint {
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
}
.trigger-nav_token-btn {
    border: 2px solid #a259ff;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    height: 32px;
    gap: 12px;
    margin-bottom: 10px;
}
.trigger-nav_token {
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
}
.trigger-nav_hline {
    height: 2px;
    background-color: #858584;
    margin-bottom: 33px;
}
.trigger-nav-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.trigger-nav_item {
    gap: 24px;
    display: flex;
    align-items: center;
}
.trigger-nav_disconnect-btn {
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
    box-sizing: border-box;
    border: 2px solid #a259ff;
    border-radius: 20px;
    position: absolute;
    top: 300px;
    width: calc(100% - 36px);
}
.trigger-nav_item-content {
    font-family: Work Sans;
    font-size: 16px o !important;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
}
.nav-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #2b2b2b;
    opacity: 0.5;
    display: none;
}
.trigger-navbar-2 {
    background-color: #3b3b3b;
    padding: 10px 19.5px;
    width: 225px;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    transform: translateX(100%);
}
.nav-mobile-input-checkbox:checked ~ .nav-overlay {
    display: block;
}
.nav-mobile-input-checkbox:checked ~ .trigger-navbar-2 {
    transform: translateX(0%);
    transition: all 0.3s ease-in 0.01s;
}
.nav-mobile-input-checkbox:not(:checked) ~ .trigger-navbar-2 {
    transform: translateX(100%);
    transition: all 0.3s ease-in 0.01s;
}
.ant-modal-content {
    border-radius: 20px !important;
    background-color: #3b3b3b !important;
    width: 359px;
    margin: auto !important;
}
.ant-modal-header {
    background-color: #858584 !important;
    border: none !important;
    border-radius: 10px 10px 0px 0px !important;
}
.ant-modal-title {
    font-family: Work Sans !important;
    font-size: 22px !important;
    font-weight: 600 !important;
    line-height: 24px !important;
    color: #ffffff !important;
}
.modal-token-name {
    text-align: center;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0em;
    color: white;
    margin-bottom: 10px;
}
.modal-token-image {
    width: 200px;
    margin: auto;
    margin-bottom: 10px;
    border-radius: 20px;
}
.modal-token-price-group {
    position: relative;
}
.modal-wallet-icon {
    position: absolute;
    top: 13px;
    left: 20px;
}
.modal-token-price-input {
    width: 100%;
    padding: 12px 20px 12px 50px;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: #2b2b2b;
    border: 1px solid #858584;
    border-radius: 20px;
}
.ant-modal-body {
    margin: 10px 40px !important;
    padding: 10px 10px 53px 10px !important;
}
.ant-modal-footer {
    border: none !important;
}
.ant-modal-close-icon {
    color: #fff !important;
    font-size: 20px;
}
.ant-pagination-item-active {
    background-color: #a259ff !important;
    color: #fff !important;
    border-radius: 50% !important;
}
.ant-pagination-item a {
    padding: 0 !important;
}
.anticon-double-left {
    position: absolute;
    top: 10px;
    left: 8px;
}
.anticon-double-right {
    top: -4px;
}
.card-nft-img {
    height: 238px;
    overflow: hidden;
    object-fit: cover;
}
.card-nft-price-group {
    @apply mt-auto;
}
.card-nft-name {
    @apply truncate text-ellipsis overflow-hidden w-[240px];
}
.btn-sell {
    background: linear-gradient(94.04deg, #a259ff 7.32%, #ff6250 90.14%) !important;
    border: none !important;
}
.nft-detail-detail-title:hover {
    opacity: 0.5;
    cursor: pointer;
}
.ant-modal-body {
    margin: 30px !important;
    padding: 0px !important;
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
}
.modal-footer {
    display: flex;
    gap: 10px;
}
.btn-modal-buy {
    color: white;
    height: 34px;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
    margin-bottom: 20px;
    width: 157px;
}
.ant-tabs-nav {
    display: none !important;
}
.prize-type-default {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px 20px;
    gap: 12px;
    width: 300px;
    height: 54px;
    background: #858584 !important;
    color: white !important;
    border-radius: 20px;
}
.prize-type-default::placeholder {
    color: white;
}
.prize-rate-default::placeholder {
    color: white;
}
.prize-rate-default {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px 20px;
    gap: 12px;
    width: 100px;
    height: 54px;
    background: #858584 !important;
    color: #fff !important;
    border-radius: 20px;
}
.prize-type {
    color: #2b2b2b;
}
.prize-rate {
    color: #2b2b2b;
}
.lucky-wheel-fee {
    text-align: center;
    font-family: Work Sans;
    font-size: 22px;
    font-weight: 700;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: center;
    margin-top: 40px;
}
.wheel-component-group {
    position: relative;
}
.wheel-component-cover {
    width: 100%;
    height: 100%;
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}
