@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600&display=swap');

body {
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    @apply bg-black text-white min-h-screen;
}

h1 {
    font-size: 67px;
}

h2 {
    font-size: 51px;
}

h3 {
    font-size: 38px;
}

h4 {
    font-size: 28px;
}

h5 {
    font-size: 22px;
}

.text-base {
    font-size: 16px;
}

.text-caption {
    font-size: 12px;
}

.text-space-mono {
    font-family: 'Space Mono', monospace;
}