@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600&display=swap');

body {
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    @apply bg-black text-white min-h-screen;
}

.h1 {
    font-size: 67px;
    line-height: 73.7px;
}

.h2 {
    font-size: 51px;
    line-height: 56.1px;
}

.h3 {
    font-size: 38px;
    line-height: 45.6px;
}

.h4 {
    font-size: 28px;
    line-height: 39.2px;
}

.h5 {
    font-size: 22px;
    line-height: 35.2px;
}

.text-base {
    font-size: 16px;
    line-height: 22.4px;
}

.text-caption {
    font-size: 12px;
    line-height: 13.2px;
}

.text-space-mono {
    font-family: 'Space Mono', monospace;
}

.header-main {
    @apply bg-black sticky top-0;
}

.header-main-nav {
    @apply flex justify-between items-center;
}
.header-logo-group {
    @apply flex items-center gap-3;
}
.logo {
    @apply h-auto;
}
.header-connect-wallet {
    @apply flex justify-end items-center gap-8;
}
.header-icon-list {
    @apply w-6;
}
.how-it-work-grid {
    @apply grid;
}
.footer {
    @apply bg-gray-400;
}
.footer-text {
    @apply text-base text-gray-300 max-w-[238px];
}
.brand {
    @apply font-semibold;
}
.card-get-started {
    @apply bg-gray-400 box-border rounded-[20px];
}
.footer-contact {
    @apply flex font-normal justify-between;
}
.brand-group {
    @apply flex items-center gap-3;
}
.email-input {
    @apply relative;
}
.footer-copyright {
    @apply h-9 flex items-end border-t border-gray-200 mt-8 text-xs text-gray-300 font-normal;
}
