@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600&display=swap');

body {
    font-family: 'Work Sans', sans-serif !important;
    font-weight: 600;

    @apply text-white min-h-screen;

    background-color: #2b2b2b !important;
    color: #fff !important;
    min-height: 100vh !important;
    user-select: none;
}

h1 {
    font-size: 67px;
    line-height: 73.7px;
}

h2 {
    font-size: 51px;
    line-height: 56.1px;
}

h3 {
    font-size: 38px;
    line-height: 45.6px;
}

h4 {
    font-size: 28px;
    line-height: 39.2px;
}

h5 {
    font-size: 22px;
    line-height: 35.2px;
}

a {
    color: #fff !important;
}

.btn {
    box-shadow: 0 18px 39px #6201ff;
    transition: '.35s';

    &:hover {
        box-shadow: 'none';
    }
}
.text-base {
    font-size: 16px;
    line-height: 22.4px;
}

.text-caption {
    font-size: 12px;
    line-height: 13.2px;
}

.text-space-mono {
    font-family: 'Space Mono', monospace;
}

.header-main {
    @apply bg-black sticky top-0 z-50;
}

.header-main-nav {
    @apply flex justify-between items-center;
}

.header-logo-group {
    color: #fff !important;

    @apply flex items-center gap-3;
}

.logo {
    @apply h-auto;
}

.header-connect-wallet {
    color: #fff !important;

    @apply flex justify-end items-center;
}

.header-icon-list {
    @apply w-6;
}

.how-it-work-grid {
    @apply grid;
}

.footer {
    @apply bg-gray-400;
}

.footer-text {
    @apply text-base text-gray-300 max-w-[238px];
}

.brand {
    @apply font-semibold;
}

.card-get-started {
    @apply bg-gray-400 box-border rounded-[20px];
}

.footer-contact {
    @apply flex font-normal justify-between;
}

.brand-group {
    @apply flex items-center gap-3;
}

.email-input {
    @apply relative;
}

.footer-copyright {
    @apply h-9 flex items-end border-t border-gray-200 mt-8 text-xs text-gray-300 font-normal;
}

.connect-wallet-image {
    background-image: url('/images/introduce/connect-wallet.png');
    background-size: cover;
    background-position: center;
}

.card-nft-author-group {
    @apply flex gap-[12px];
}

.card-nft-price {
    font-family: 'Space Mono';
}

.price-label {
    color: #858584;
    font-family: Space Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
}

.card-nft-price {
    font-family: 'Space Mono';
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0;
    text-align: left;
}

.card-nft-price-group {
    margin-top: 27px;
}

.card-nft-info {
    @apply relative;
}

.card-nft-btn {
    padding: 12px 21.5px;

    @apply absolute bottom-0 right-0;
}

.card-nft {
    @apply inline-block overflow-hidden;
}

.collection-image {
    @apply rounded-[20px] block mx-auto h-full;
}

.market-place {
    font-family: 'Work Sans';
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0;
    text-align: center;
    padding: 19px 30px;
}

.market-place:hover {
    color: #858584;
}

.collection-small-image-group {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.collection-small-image {
    flex: 1;
    aspect-ratio: 1/1;
}

.collection-small-image-count {
    background-color: #a259ff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Space Mono';
    font-size: 22px;
    font-weight: 700;
    line-height: 35px;
    letter-spacing: 0;
    text-align: center;
}

.collection-main-image {
    aspect-ratio: 1/1;
}

.ant-tabs-tab:active {
    color: pink;
}

.collection-name {
    font-family: 'Work Sans';
    font-size: 22px;
    font-weight: 600;
    line-height: 31px;
    letter-spacing: 0;
    text-align: left;
}

.collection-author-group {
    @apply flex items-center gap-3 mt-[10px];
}

.collection-author-name {
    font-family: 'Work Sans';
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0;
    text-align: left;
}

.ant-pagination {
    background-color: #3b3b3b;
    text-align: center;
    vertical-align: middle;
}

.ant-pagination-item-link {
    background: none !important;
    color: #fff !important;
    border: none !important;
    display: flex !important;
    align-items: center !important;
}

.ant-pagination-prev .ant-pagination-item-link {
    justify-content: end;
}

.ant-pagination-next .ant-pagination-item-link {
    justify-content: center;
}

.ant-pagination-item {
    background: none !important;
    color: #fff !important;
    border: none !important;
}

.ant-pagination-item-ellipsis {
    background: none !important;
    color: #fff !important;
    border: none !important;
}

.ant-select-selector {
    background: none !important;
    color: #fff !important;
    border: none !important;
}
.anticon-double-right {
    color: #fff !important;
    position: relative;
    top: -3px;
    right: -8px;
}
.anticon-double-left {
    color: #fff !important;
}
.card-nft-author-avatar {
    border-radius: 20px;
    overflow: hidden;
}
.card-nft-author-name {
    font-family: Space Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
}
.card-nft-name-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @apply mb-[5px];
}
.browse-marketplace-search-bar {
    position: relative;
}
.browse-marketplace-search-bar-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
.browse-marketplace-filter {
    padding: 10px 20px;
    border: 2px solid #858584;
    border-radius: 20px;
    @apply hover:cursor-pointer;
}
.browse-marketplace-search-bar-input {
    border-color: #858584;
}
.update-profile-body {
    display: flex;
}
.update-profile-image {
    background-image: url('/images/introduce/update-profile.png');
    background-size: cover;
    background-position: center;
    width: 50%;
}
.update-profile-content-group {
    width: 50%;
}
.update-profile-title {
    margin-bottom: 20px;
}
.update-profile-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.update-profile-form-item {
    box-sizing: border-box;
    height: 46px;
    width: 330px;
    border-radius: 20px;
    padding: 16px 20px 16px 52px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #2b2b2b;
}
.update-profile-form-item-spec {
    background-color: #858584;
    box-sizing: border-box;
    height: 46px;
    width: 330px;
    border-radius: 20px;
    padding: 16px 20px 16px 52px;
    display: flex;
    align-items: center;
    position: relative;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #ffffff;
}
.update-profile-form-item-group {
    position: relative;
}
.update-profile-btn {
    height: 46px;
    width: 330px;
    border-radius: 20px;
    padding: 0px 50px 0px 50px;
    background-color: #a259ff;
    box-shadow: 0 18px 39px #6201ff;
    transition: 0.35s;
}
.update-profile-btn:hover {
    box-shadow: none;
}
.user-info-avatar {
    border: 2px solid #2b2b2b;
    border-radius: 20px;
    width: fit-content;
}
.user-info-background-image {
    background-image: url('/images/introduce/user-info.png');
}
.token-btn {
    width: fit-content;
}
.user-info-btn-group {
    display: flex;
    gap: 20px;
}
.token-btn-content {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #ffffff;
}
.user-info-main-username-group {
    display: flex;
    gap: 13px;
}
.user-info-social-group {
    display: flex;
    gap: 20px;
}
.user-info-desc-info {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.user-info-header {
    font-family: Space Mono;
    font-size: 22px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: left;
    color: #858584;
    margin-bottom: 10px;
}
.user-info-bio-content {
    font-family: Work Sans;
    font-size: 22px;
    font-weight: 700;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: left;
}
.user-info-social-logo-group {
    display: flex;
    gap: 10px;
}
.user-info-hline {
    height: 0.8px;
    background-color: #3b3b3b;
    margin-bottom: 10px;
}
