@media only screen and (max-width: 480px) {
    .header-main {
        @apply px-[30px] py-[15px];
    }
    .header-connect-wallet {
        @apply hidden;
    }
    .logo {
        @apply w-[30px];
    }
    .brand {
        @apply text-[22px] leading-[30.8px];
    }
    .landing-main-intro-group {
        @apply py-[40px];
    }
    .landing-main {
        @apply px-[30px];
    }
    .landing-main-intro {
        font-size: 28px;
        line-height: 30.8px;
    }
    .landing-main-group {
        @apply flex gap-[30px] py-[40px] flex-col;
    }
    .landing-main-intro-block {
        @apply w-full;
    }
    .landing-main-intro-content {
        font-size: 16px;
        line-height: 25.6px;
        margin-bottom: 40px;
        margin-top: 10px;
    }
    .how-it-work-group {
        @apply py-[40px] inline-block;
    }
    .how-it-work-intro {
        @apply mb-[40px];
    }
    .header-content {
        font-size: 28px;
        line-height: 39.2px;
        margin-bottom: 10px;
    }
    .landing-content {
        font-size: 16px;
        line-height: 22.4px;
        font-weight: 400;
    }
    .how-it-work-grid {
        @apply grid-cols-1 gap-[20px];
    }
    .btn-get-started {
        @apply w-full justify-center;
    }
    .footer {
        @apply px-[30px] py-[40px];
    }
    .card-get-started {
        @apply px-5 py-5 gap-5 flex items-center;
    }
    .card-get-started-image {
        @apply w-[100px] h-[100px];
    }
    .card-get-started-title {
        font-size: 16px;
        line-height: 22.4px;
    }
    .card-get-started-content {
        @apply text-xs leading-[16.8px] font-normal mt-[10px];
    }
    .footer-joinus-group {
        @apply hidden;
    }
    .footer-contact {
        @apply flex-col;
    }
    .footer-explore-group {
        @apply mt-[30px];
    }
    .footer-intro {
        @apply mt-[39px];
    }
    .join-us-mobile {
        @apply px-[30px] py-8;
    }
    .join-us-mobile-image {
        @apply w-full;
    }
    .join-us-mobile-title {
        @apply pt-[30px] pb-[10px];
        font-family: Work Sans;
        font-size: 28px;
        font-weight: 600;
        line-height: 39px;
        letter-spacing: 0em;
        text-align: left;
    }
    .join-us-mobile-content {
        font-family: Work Sans;
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: left;
        margin-bottom: 40px;
    }
    .join-us-mobile-input {
        box-sizing: border-box;
        font-weight: 400;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 16px 20px;
        width: 100%;
        height: 46px;
        background: #ffffff;
        border: 1px solid #858584;
        border-radius: 20px;
        margin: 16px 0;
    }
    .join-us-mobile-btn {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 12px;
    }
}
