@media only screen and (min-width: 481px) and (max-width: 834px) {
    .header-main {
        @apply px-[50px] py-[15px];
    }
    .header-connect-wallet {
        @apply hidden;
    }
    .logo {
        @apply w-[40px];
    }
    .brand {
        @apply text-[28px] leading-[39.2px];
    }
    .landing-main {
        @apply px-[72px];
    }
    .landing-main-intro {
        font-size: 38px;
        line-height: 45.6px;
    }
    .landing-main-group {
        @apply flex gap-[30px] pt-[40px] py-[80px];
    }
    .landing-main-intro-block {
        @apply w-1/2;
    }
    .landing-main-intro-content {
        font-size: 16px;
        line-height: 25.6px;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    .how-it-work-group {
        @apply pt-[40px] py-[80px] inline-block;
    }
    .how-it-work-intro {
        @apply mb-[40px];
    }
    .header-content {
        font-size: 28px;
        line-height: 22.4px;
        margin-bottom: 10px;
    }
    .landing-content {
        font-size: 16px;
        line-height: 22.4px;
        font-weight: 400;
    }
    .how-it-work-grid {
        @apply grid-cols-3 gap-[30px];
    }
    .footer {
        @apply px-[72px] py-[40px];
    }
    .card-get-started {
        @apply px-[25px] pt-[10px] pb-[30px];
    }
    .card-get-started-image {
        @apply mb-[20px];
    }
    .card-get-started-group {
        @apply mx-[-5px];
    }
    .card-get-started-title {
        font-size: 16px;
        line-height: 22.4px;
        @apply text-center;
    }
    .card-get-started-content {
        @apply text-center font-normal mt-[10px] text-[12px] leading-[16.8px];
    }
    .footer-contact {
        @apply flex-col;
    }
    .email-input {
        @apply max-w-[420px];
    }
    .footer-intro {
        @apply mt-[20px];
    }
    .footer-explore-group {
        @apply my-[30px];
    }
    .join-us-mobile {
        @apply hidden;
    }
    .connect-wallet-body {
        @apply flex gap-10;
    }
    .connect-wallet-image {
        @apply w-1/2;
    }
    .connect-wallet-content {
        @apply w-1/2 py-[80px] pr-[72px];
    }
    .connect-wallet-title {
        font-weight: 600;
        font-size: 38px;
        line-height: 45.6px;
    }
    .connect-wallet-intro {
        font-weight: 400;
        font-size: 16px;
        line-height: 22.4px;
        margin-top: 20px;
        margin-bottom: 40px;
        color: #fff !important;
    }
    .connect-wallet-btn {
        @apply w-full py-[14px] pl-[40px] pr-[20px] mb-5 gap-5;
    }
    .tabpane {
        color: #ffffff !important;
    }
    .collection-tab {
        color: #ffffff !important;
    }
    .ant-tabs-nav {
        margin-bottom: 0px !important;
    }
    .ant-tabs-nav-wrap {
        background-color: #2b2b2b !important;
    }
    .ant-tabs-nav-list {
        flex: 1;
        padding: 0 72px;
    }
    .ant-tabs-tab {
        flex: 1;
        justify-content: center;
        color: #858584 !important;
    }
    .ant-tabs-tab + .ant-tabs-tab {
        margin: 0 0 0 0px !important;
    }
    .ant-tabs-ink-bar {
        background-color: #858584 !important;
        padding: 0 72px !important;
    }
    .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
        color: #fff !important;
    }
    .marketplace-tabs {
        @apply px-[72px];
    }
    .browse-marketplace {
        @apply px-[77px] py-[60px];
    }
    .browse-marketplace-title {
        //styleName: H3 - Work Sans;
        font-family: Work Sans;
        font-size: 38px;
        font-weight: 600;
        line-height: 46px;
        letter-spacing: 0em;
        text-align: left;
    }
    .browse-market-place-content {
        //styleName: Base(Body) - Work Sans;
        font-family: Work Sans;
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: left;
        margin-top: 10px;
        margin-bottom: 30px;
    }
    .browse-marketplace-search-bar {
        @apply relative;
    }
    .browse-marketplace-search-bar-input {
        width: 100%;
        background-color: transparent;
        height: 60px;
        border: 1px solid #3b3b3b;
        border-radius: 20px;
        box-sizing: border-box;
        padding: 0px 12px;
    }
    .browse-marketplace-search-bar-icon {
        width: 24px;
        @apply absolute right-[12px] top-[18.5px] hover:cursor-pointer;
    }
    .ant-tabs {
        padding: 0 72px;
    }
    .tabpane-count {
        font-family: Space Mono;
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: left;
        background-color: #3b3b3b;
        border-radius: 20px;
        padding: 5px 10px;
    }
    .ant-tabs-tab-active .tabpane-count {
        background-color: #858584;
    }
    .tabpane-title {
        @apply flex gap-4;
        font-family: Work Sans;
        font-size: 16px;
        font-weight: 600;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: center;

        @apply flex items-center;
    }
    .tabpane-content {
        @apply px-[72px] py-[60px] grid grid-cols-2 gap-[30px];
        background-color: #3b3b3b;
    }
    .card-nft {
        @apply bg-black rounded-[20px];
    }
    .card-nft-info {
        @apply mx-[30px] mt-5 mb-[23px];
    }
    .card-nft-name {
        font-family: Work Sans;
        font-size: 22px;
        font-weight: 700;
        line-height: 31px;
        letter-spacing: 0em;
        text-align: left;
    }
}
